<header>
    <div class="brand-logo">
        <a href="#"><img src="img/logo.png" alt="Brand Logo"></a>
    </div>

    <input type="checkbox" id="toggle-btn">
    <label for="toggle-btn" class="show-menu-btn"><i class="fas fa-bars"></i></label>

    <nav>
        <ul class="navigation">
            <li><a href="#"> Home</a></li>
            <li><a href="#"> About</a></li>
            <li><a href="#"> Logout</a></li>
            <label for="toggle-btn" class="hide-menu-btn"><i class="fas fa-times"></i></label>
        </ul>
    </nav>
</header>