/* css for header */
/* Style the header with a grey background and some padding */
/* .header {
  overflow: hidden;
  background-color: #0e0d0d;
  padding: 10px 10px;
} */

/* Style the header links */

@font-face {
  font-family: adam;
  src: url(../fonts/adamcgpro.otf);
  font-weight: 100;
}

@font-face {
  font-family: monument;
  src: url(../fonts/MonumentExtended-Light.otf);
  font-weight: 100;
}

header {
  height: 100%;
  width: 100%;
  float: left;
  background: #1d1d1d;
  padding: 0 20px;
  color: #fff;
  margin-bottom: 30px;
  font-family: adam;
}
.brand-logo {
  max-width: 55px;
  float: left;
  margin-top: 4px;
  padding: 14px 0px;
}
.brand-logo img {
  max-width: 100%;
}
.navigation {
  margin: 0px;
  float: right;
}
.navigation li {
  list-style: none;
  float: left;
}
.navigation li a {
  color: rgb(185, 180, 180);
  padding: 28px 15px;
  margin-top: 6px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 18px;
}
.navigation li a i {
  width: 100%;
  font-size: 20px;
  margin-bottom: 7px;
}
.show-menu-btn,
.hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn {
  margin: 0px;
  float: right;
}
.show-menu-btn i {
  line-height: 100px;
}
.navigation a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: #ffffff;
  transition: 0.9s;
}
#toggle-btn {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

/*-- Responsive CSS --*/
@media screen and (max-width: 767px) {
  .show-menu-btn,
  .hide-menu-btn {
    display: block;
  }
  .navigation {
    position: fixed;
    width: 100%;
    height: 40vh;
    background: #171a17;
    top: -100%;
    left: 0;
    padding: 50px 0px;
    transition: 1s;
    z-index: 100;
  }
  .navigation li {
    width: 100%;
  }
  .navigation li a {
    padding: 15px 15px;
    text-align: left;
  }
  .navigation li a i {
    width: auto;
    font-size: 20px;
  }
  .hide-menu-btn {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  #toggle-btn:checked ~ nav .navigation {
    top: 0px;
  }
}

/*------------------for timeline------------------------*/

* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;

  height: fit-content;
  /* Should be removed. Only for demonstration */
}

.left,
.right {
  width: 25%;
}

.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* header ends here */
/* main starts here */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

body {
  background-color: #0e0d0d;
  margin: 0;
}

.mt-70 {
  margin-top: 20px;
}

.mb-70 {
  margin-bottom: 20px;
}

.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 0;
  transition: all 0.2s;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #0e0d0d;
  background-clip: border-box;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  color: rgb(221, 220, 220);
  font-size: 1.3rem;
  font-family: monument;
}

.vertical-timeline {
  width: 100%;
  position: relative;
  padding: 1.5rem 0 1rem;
}

.vertical-timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 67px;
  height: 100%;
  width: 4px;
  background: #181818;
  border-radius: 0.25rem;
}

.vertical-timeline-element {
  position: relative;
  margin: 0 0 1rem;
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
  visibility: visible;
  animation: cd-bounce-1 0.8s;
}

.vertical-timeline-element-icon {
  position: absolute;
  top: 0;
  left: 60px;
}

.vertical-timeline-element-icon .badge-dot-xl {
  box-shadow: 0 0 0 5px #fff;
}

.badge-dot-xl {
  width: 18px;
  height: 18px;
  position: relative;
}

.badge:empty {
  display: none;
}

.badge-dot-xl::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 0.25rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -5px 0 0 -5px;
  background: #fff;
}

a {
  text-decoration: none;
  color: white;
}

.answered-question {
  box-shadow: 0 0 0 5px rgb(64, 129, 20);
}

.answered-question::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 0.25rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -5px 0 0 -5px;
  background: rgb(64, 129, 20);
}

.vertical-timeline-element-content {
  position: relative;
  margin-left: 90px;
  font-size: 0.8rem;
}

.vertical-timeline-element-content .timeline-title {
  font-size: 1rem;
  color: #23a4cf;
  text-transform: uppercase;
  margin: 0 0 0.5rem;
  padding: 2px 0 0;
  font-weight: bold;
  font-family: adam;
}

.vertical-timeline-element-content p {
  text-align: center;
  color: white;
  font-size: 0.7rem;
  font-family: adam;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  display: block;
  position: absolute;
  left: -90px;
  top: 0;
  padding-right: 10px;
  text-align: right;
  color: #ffffff;
  font-size: 0.7619rem;
  white-space: nowrap;
}

.vertical-timeline-element-content:after {
  content: "";
  display: table;
  clear: both;
}

/*text white and bg color black*/

h2 {
  text-align: center;
  color: white;
  font-family: monument;
}

h1 {
  text-align: center;
  color: white;
  font-family: monument;
  font-size: 2.5rem;
  /* font-weight: 500; */
}

#synchronic {
  color: transparent;
  text-transform: uppercase;
  background: linear-gradient(
    90deg,
    rgb(46, 204, 112),
    #3498db,
    #9b59b6,
    #f39c12
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: synchronic 5s linear infinite;
  -webkit-background-size: 500%;
  background-size: 500%;
  font-size: 3.5vmax;
}

@keyframes synchronic {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 100%;
  }
}

p {
  text-align: center;
  color: white;
  font-family: adam;
}
.column middle {
  background-color: #24ff72;
}

.button2 {
  background-color: white;
  border: 2px solid rgb(35, 75, 207);
  color: black;
}

.button2:hover {
  background-color: rgb(35, 75, 207);
  color: white;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
  border: 2px solid rgb(231, 53, 53);
}

.button1:hover {
  background-color: rgb(231, 53, 53);
  color: white;
}

.logoBackslash {
  height: 50px;
  width: 50px;
}

/*assign full width inputs*/

/*set a style for the buttons*/

/*set padding to the container*/
.container1 {
  padding: 16px;
}

/*set the Modal background*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  background-color: #0e0d0d91;
  padding-top: 150px;
}

/*style the model content box*/
.modal-content {
  background-color: #0e0d0d;
  margin: 5% auto 15% auto;
  border: 1px solid rgb(116, 116, 116);
  width: fit-content;
  height: fit-content;
  padding: 20px;
  /* padding-top: 10px; */
}

/*style the close button*/

/* add zoom animation*/
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.hintpopup {
  margin: 0;
  display: flex;
  justify-content: center;
  border: 0ch;
  padding: 0;

  text-align: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.buttonlol {
  background-color: white;
  width: fit-content;
  height: fit-content;
  color: black;
}

/* COPIED FROM HEAD */
body {
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 12px;
  outline: none;
  box-sizing: border-box;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.button {
  background-color: transparent;
  color: white;
  padding: 12px 20px;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  transition-duration: 0.4s;
  cursor: pointer;
}

h4 {
  text-align: center;
  color: rgb(35, 75, 207);
}

h3 {
  text-align: center;
  font-size: 1.2rem;
  font-family: monument;
  color: rgb(62, 98, 214);
}

p {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 100;
}

.hint {
  color: rgb(211, 45, 45);
}

.answered {
  color: green !important;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  padding: 0;
}

img.avatar {
  width: 40%;
  /* border-radius: 50%; */
}

.container {
  padding: 5px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

/* Footer */

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #1d1d1d;
  color: white;
}

#footer a {
  color: #1c1c1c;
}

#footer a:hover {
  color: #161616;
  text-decoration: none;
}

.copyright-text a {
  color: rgb(212, 41, 41) !important;
}

.copyright-text a:hover {
  color: rgb(189, 24, 24) !important;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
